<a href="/newblog" class="btn btn-sm btn-success">Create Blog</a>

{{#each blogs as |blog|}}
<div>
  <a href="/blog?id={{blog.id}}">
    <div class="row mt-4" style="background-color: brown;">
      <div class="col-md-6">
        {{blog.title}}
      </div>

      <div class="col-md-6">
        Posted by {{blog.user.name}} on {{format_date blog.date_created}}
      </div>
    </div>
  </a>
  <div>{{blog.content}}</div>
</div>
<br>
{{/each}}

<script src="./js/dashboard.js"></script>